body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background: #fff;
  color: #333;
}
header {
  background-color: lightgray;
  padding: 0;
}


  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    

    .menu-left {
      list-style: none;
      display: flex;
      gap: 0px;
      margin: 0px;
      padding: 20px 20px 20px 80px;
      width: 100%;

      li a {
      text-decoration: none;
      color: rgb(83, 82, 82);
      font-weight: bold;
      background: white;
      padding: 21px 21px 21px 21px;
      transition: background 1 s ease;
      &:hover {
      background: gray;
    }
    }
    
    }
    .menu-right {
      list-style: none;
      display: flex;
      padding: 0;
      margin: 0px;
      border-radius: 40px;
      font-weight: bold;
      gap: 0px;
      a {
        text-decoration: none;
        color: rgb(50, 49, 49);
        background:gray;
        padding: 21px;
        margin-left: 0;
        transition: background 1 s ease;

        &:hover {
      background: rgb(78, 75, 75);
    }
      }

      .menu-right a.active {
        background: black;
      }
  
    }
  }


.breadcrumb {
  margin: 10px 10px 0px 140px ;
  font-size: 14px;

  a {
    text-decoration: none;
    color: #0077cc;
  }
}

.login-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  align-items: center;
  margin: 0;
  gap: 20px;
  

  .login-form {
  padding: 20px;
  border-radius: 5px;
  margin-right: 20px;
  width: 90%;
  max-width: 700px;



    h1 {
      font-size: 28px;
      margin-bottom: 0px;
      
    }
    .login-block {
      background: #f5f5f5;
      position: relative;
      .trapez {
      padding-left: 0px;
      
    }
    }
    

    .underline {
      text-decoration: underline;
      text-decoration-color: rgb(0, 183, 255);
      margin-bottom: 0px;
    }
    p {
      margin-top: 0px;
      margin-bottom: 20px;
      font-weight: 500;

    }

    form {
      display: flex;
      flex-direction: column;
      background: rgb(202, 202, 202);
      padding: 10px;
      border-radius: 10px;

      label {
        margin-top: 10px;

        font-weight: bold;
      }

      input {
        padding: 10px;
        margin-top: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }

      .forgot-login {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;

        a {
          font-size: 14px;
        }

        button {
          background: #555;
          color: white;
          padding: 10px 20px;
          border: none;
          border-radius: 4px;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
  }

  .register-box {
  border-radius: 5px;
  text-align: center;
  width: 90%;
  max-width: 300px;

    .register-box-center {
      background: #f5f5f5;  
      // padding: 50px;
      min-width: 200px;
      min-height: 200px;
    }
    .logo2 {
      transform: rotate(180deg);
    }

    p {
      font-weight: bold;
    }

    button {
      background: #555;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      font-weight: bold;
      margin-top: 20px;
      cursor: pointer;
    }
  }

}